@import '../../variables.scss';

.switch_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 48px;
  height: 24px;
  position: relative;

  @media screen and (max-width: 550px) {
    width: 40px;
    height: 20px;
  }

  input {
    display: none;
    &:checked ~ .checkmark {
      background: #571691;
    }
    &:disabled ~ .checkmark {
      opacity: 0.5;
    }
    &:checked ~ .checkmark:after {
      left: 26px;
      @media screen and (max-width: 550px) {
        left: 22px;
      }
    }
  }

  .checkmark {
    background-color: #abb1b9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: 0.3s;

    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 16px;
      height: 16px;
      background: white;
      border-radius: 50%;
      transition: 0.3s;
      @media screen and (max-width: 550px) {
        left: 2px;
        top: 2px;
      }
    }
  }
}
